/* NAVIGATION STYLES */

.nav {
    background-color: black;
    color: white;
}

.nav-link {
    color: white
}

/* INTRO STYLES */

#intro {
    color: white
}

#intro-language {
    position: absolute;
}

/* BODY STYLES */

#eric-intro-photo {
    width: 100%;
    float: right;
}

.titles {
    text-align: center;
    padding: 0 0 20px 0;
}

h1, h2, h4, h5, h6 {
    font-weight: bold;
}

h4, h6 {
    color: rgb(92, 194, 160);
}

h5 {
    color: rgb(79, 162, 218);
}



/* PROFILE STYLES */

#profile {
    padding: 15px;
    background-color: #b6b6b67e;
}

#profile-photo {
    border-radius: 50%;
    max-width: 300px;
    float: right;
}

/* PORTFOLIO STYLES */

#portfolio {
    padding: 15px;

}

.portfolio-photos {
    float: right;

}

/* EXPERIENCE STYLES */

#professional-experience {
    background-color: #b6b6b67e;
    padding: 15px;
}

#spirit-logo {
    max-width: 300px;
    float: right;
}

/* STORY STYLES */

#story {
    padding: 15px;
}

.story-photos {
    max-width: 300px;
    border-radius: 30px;
    float: right;
}

/* TRAVEL STYLES */

#travels {
    height: 300px;
}

/* EDUCATION STYLES */

#education {
    padding: 15px;
    background-color: #b6b6b67e;
}

.seals {
    max-width: 200px;
    float: right;
    margin: 0 50px 0 0;
}

.row {
    padding: 0 0 15px 0;
}

/* SKILLS STYLES */

#skills {
    padding: 15px;
}

/* CONTACT STYLES */

#contact {
    color: white;
    background-color: black;
    padding: 15px;
}

#pizza {
    text-align: center;
    font-style: italic;
    padding: 15px
}

.contact-images {
    max-width: 50px;
}
 
#copyright {
    text-align: center;
    padding: 20px;
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */